@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=PT+Serif:ital,wght@0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Caprasimo', cursive;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
      
}
nav ul li a{
    text-decoration: none;
    color: rgb(9, 175, 139);
    font-weight: bold;
    font-size: large;
}
nav ul li a:hover{
    color:rgb(16, 97, 219);
}  
.home{
    background-image: url(./backgrnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width:100%;
}
.title{
    font-size: 40px;
   color: rgb(242, 98, 45);
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10%;
    margin-top: 16%;
    font-size: 40px;
    font-weight: bolder;

}
.title h2{
    font-size: 25px;
    margin-left: 12%;
    color:rgb(241, 234, 234);
}
.title span{
    color: rgb(4, 134, 102);
}
#about{
    background-image: url(./new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width:100%;
}


.abtim{
    margin-right: 200%;
   
  
}

.heading{
    text-align: center;
    color: rgb(252, 249, 248);
    margin-left: 33%;
    font-size: 40px;
}
.heading h2{
    font-size: 30px;
}
.heading span{
    font-size: 20px;
    color: rgb(53, 190, 179);
}
.about-content{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 32px;
    margin-left: 5%;
    color: white;
    
}

#contact{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 13%;
}
.icon-div{
    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: center;
}
.icon{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;   
}
.icon-div :hover{
    background-color: rgb(221, 43, 206);
}
.icon :hover{
    background-color: rgb(52, 204, 59);
}
#CONTACT{
    background-image: url(./lap\ \(2\).jpg);
    /* margin-right: 70%%; */
    margin-top: 0;
    background-size: cover;
    height: 300px;
}
.icon-div{
    display: flex;
    margin-right: 46%;
    margin-top: 5%;
    justify-content: center;
}
.icon{
    color: white;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;   
}

